@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
   
}

<!DOCTYPE html>


<h1>@ViewBag.SeriesTitle</h1>
<h2>Issue #@ViewBag.IssueNumber</h2>

<h5>Description:</h5>
<div>@Html.Raw(ViewBag.Description)</div>


@if(ViewBag.Creators.Length > 0)
{
<h5>Creators:</h5>
<div>
    <ul>
        @foreach (var creator in ViewBag.Creators)
        {
            <li>@creator</li>

        }
    </ul>
</div>
}
        
  